$media = palm tablet laptop desktop
$media-sizes = {
  'palm'    : 768px,
  'tablet'  : 1024px,
  'laptop'  : 1280px,
  'desktop'  : 1440px
}

$container-width-at = {
  palm    : 100%,
  tablet  : 60rem,
  laptop  : 60rem,
  desktop : 70rem
}