//---| PROPERTY CONFIG |----------------------------------------------------------------------------------------------//

$button-font-weight     = 600
$button-font-size       = $base-font-size - 0.125rem
$button-font-family     = inherit
$button-letter-spacing  = 0.03125rem
$button-border-width    = $base-border-width
$button-border-radius   = $base-border-radius

//---| GENERATOR CONFIG |---------------------------------------------------------------------------------------------//

$default-button-style   = link
$default-button-color   = $brand-colors['primary']
$branded-buttons        = true
$ui-buttons             = true