// Do not change

$base-font-size         ?= 0.875rem
$base-line-height       ?= 1.25rem
$base-block-height      ?= 2rem
$magic-unit             ?= 0.25rem

$brand-colors           ?= { 'primary' : #2574FF, 'secondary' : #E3E9EA }
$ui-colors              ?= { 'success' : #1BB55B, 'warning' : #EFC000, 'danger' : #FC5442, 'primary' : #4285F4, 'black' : #283A51, 'white' : #FFFFFF }

$text-color             ?= tint($ui-colors['black'], 6%)
$link-color             ?= $ui-colors['primary']

$text-font-family       ?= -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", Helvetica Neue, Roboto, sans-serif
$title-font-family      ?= $text-font-family
$monospaced-font-family ?= 'Menlo', 'Consolas', monospace

$base-medium            ?= palm

$base-border-width      ?= 0.0625rem
$base-border-radius     ?= 0.125rem