$input-font-weight            = normal
$input-font-size              = $base-font-size
$input-line-height            = $base-line-height
$input-placeholder-color      = flu-gray-light
$input-border-width           = $base-border-width
$input-border-radius          = $base-border-radius

$input-color                  = inherit
$input-bg-color               = $ui-colors['white']
$input-border-color           = gray('lighter')
$input-shadow                 = inset 0px 0.0625rem 0.0625rem rgba(0, 0, 0, 0.125)

$input-hover-color            = $input-color
$input-hover-bg-color         = $input-bg-color
$input-hover-border-color     = gray('light')
$input-hover-shadow           = $input-shadow

$input-focus-color            = $input-color
$input-focus-bg-color         = $input-bg-color
$input-focus-border-color     = tint($ui-colors['primary'], 25%)
$input-focus-shadow           = false

$input-disabled-color         = gray()
$input-disabled-bg-color      = rgba($input-bg-color, 0.5)
$input-disabled-border-color  = gray('lightest')
$input-disabled-shadow        = none

$input-success-class          = '-success'
$input-success-color          = $input-color
$input-success-bg-color       = $input-bg-color
$input-success-border-color   = tint($ui-colors['success'], 25%)
$input-success-shadow         = $input-shadow

$input-error-class            = '-error'
$input-error-color            = $input-color
$input-error-bg-color         = $input-bg-color
$input-error-border-color     = tint($ui-colors['danger'], 25%)
$input-error-shadow           = $input-shadow

$default-input-style          = basic
$default-input-color          = $brand-colors['primary']

flu-picker-color              = $input-color
flu-picker-bg-color           = $input-bg-color
flu-picker-border-color       = $input-border-color
flu-picker-shadow             = 0px 1px 1px rgba(0, 0, 0, 0.1)

flu-checker-width             = $base-line-height