flu-icons = {
  access_alarms : "\e191",
  schedule : "\e8b5",
  add : "\e145",
  arrow-back : "\e5c4",
  arrow-down : "\e5db",
  arrow-drop-down : "\e5c5",
  arrow-drop-up : "\e5c7",
  arrow-forward : "\e5c8",
  arrow-up : "\e5d8",
  cloud-upload : "\e2c3",
  cached : "\e86a",
  call_made : "\e0b2",
  call_received : "\e0b5",
  check : "\e5ca",
  navigate_before : "\e408",
  navigate_next : "\e409",
  close : "\e5cd",
  wb_cloudy : "\e42d",
  edit : "\e254",
  delete : "\e872",
  done : "\e876",
  drafts : "\e151",
  markunread : "\e159",
  expand_less : "\e5ce",
  expand_more : "\e5cf",
  favorite : "\e87d",
  home : "\e88a",
  keyboard_arrow_down : "\e313",
  keyboard_arrow_left : "\e314",
  keyboard_arrow_right : "\e315",
  keyboard_arrow_up : "\e316",
  keyboard_backspace : "\e317",
  language : "\e894",
  menu : "\e5d2",
  more : "\e5d4",
  refresh : "\e5d5",
  search : "\e8b6"
}

iconContent(name)
  flu-icons[name]