.top-bar
  z-index 11
  height $base-block-height + 0.0625rem;
  background-color gray('almost-white')
  border-bottom: 0.0625rem solid gray('lightest');

.top-bar_content
  display flex
  -flu-display: container

.top-bar_left,
.top-bar_right
  -flu-display: column

.top-bar_right
  flex 1